@import '../../z_variables';
@import '../../z_mixins';

.landing {
  min-width: 100%;
  background-color: $Clanding;
  border: 1px solid $Cprimary;

  .landing_container {
    @include screenW();
    @include flex(center, flex-start);
    min-height: 925px;
    margin: 0 auto;
    padding: 64px 32px;
    width: 100%;

    @media (max-width: $mainScreen) {
      flex-direction: column;
      padding: 32px 0;
      align-items: center;
    }

    .formCard {
      padding: 16px;
      background-color: $Cfooter;
      color: $Cprimary;
      border: 1px solid $Cprimary;
      border-radius: 16px;
      width: 80%;

      @media (min-width: $mainScreen) {
        width: 100%;
        margin-right: 64px;
        margin-bottom: 0;
        padding: 64px;
      }

      h1 {
        @include secondaryFont(48px, 400, 72px);
      }

      p {
        margin: 32px 0;
      }

      form {
        margin-bottom: 120px;

        .msgErr {
          color: $Cerror;
          font-size: 12px;
        }

        .msg {
          @include flex(flex-start);
          gap: 16px;
        }

        div {
          position: relative;
          background-color: #fff;
          border: 1px solid $Cprimary;
          border-radius: 8px;
          padding: 20px;
          margin-top: 16px;

          &.ref {
            color: $Cmisc;

            @media (min-width: $mainScreen) {
              @include flex(space-between);
              padding: 0 0 0 20px;
            }
          }

          input {
            @include primaryFont(20px, 400, 20px);
            outline: none;
            border: none;
            background-color: #fff;
            color: $Cprimary;
            width: 85.5%;
            margin-left: 20px;
            padding: 5px;
          }
        }

        button {
          cursor: pointer;
          @include flex();
          @include primaryFont(20px, 700, 32px);
          white-space: nowrap;
          background-color: $Cblue;
          color: #fff;
          padding: 20px 123px 17px;
          border: 1px solid $Cprimary;
          border-radius: 8px;
          width: 100%;
          margin: 16px 0;
        }

        .copy {
          margin: 0 0 0 18px;
          padding: 19px 24px 18px;

          @media (max-width: $mainScreen) {
            display: none;
          }
        }

        .copySmall {
          display: none;

          @media (max-width: $mainScreen) {
            display: block;
          }
        }
      }

      small {
        font-size: 16px;
        color: $Cmisc;
      }
    }

    .steps {
      margin-top: 20px;
      margin-left: 64px;

      @media (max-width: $mainScreen) {
        margin: 48px;
        @include flex(center, flex-start, column);
      }

      @media (max-width: $medium) {
        margin: 48px 0;
      }

      .step {
        @include flex(center, space-between);

        @media (max-width: $medium) {
          flex-direction: column;
        }

        &:nth-of-type(even) {
          margin: 48px 0;

          .img {
            order: 2;
          }

          .stepInfo {
            @media (max-width: $mainScreen) {
              order: 2;
            }
          }
        }

        .img {
          @include flex();
        }

        .stepInfo {
          @include flex(center, flex-start, column);
          color: $Cprimary;

          &:nth-of-type(even) {
            margin-left: 56px;
          }

          &:nth-of-type(odd) {
            margin-right: 56px;
          }

          @media (max-width: $medium) {
            margin-bottom: 64px;
            margin: 0;
            align-items: center;
          }

          b {
            color: $Cblue;
            letter-spacing: 1.6px;
          }

          h2 {
            @include secondaryFont();
            margin: 16px 0;
          }

          p {
            margin: 0;

            @media (max-width: $medium) {
              max-width: 250px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}