@import 'z_variables';
@import 'z_mixins';

.footer {
  background-color: $Cfooter;
  border: 1px solid $Cprimary;

  footer {
    position: relative;
    @include primaryFont(16px, 400, 24px);
    @include flex(space-between, flex-start);
    @include screenW();
    margin: 64px auto 58px;
    color: $Cprimary;
    padding: 0 32px;

    @media (max-width: $medium) {
      @include flex(center, flex-start, column);
      min-height: 867px;
      margin: 0;
      padding: 48px 32px;
    }

    h3 {
      @include primaryFont(20px, 700, 24px);
    }

    article {
      max-width: 544px;
      padding: 15px 0 0;


      p {
        margin: 32px 0 46px;

        @media (max-width: $medium) {
          margin: 32px 0 30px;
        }
      }
    }

    .contacts {
      @include flex(space-between, flex-start, column);
      min-height: 260px;

      @media (max-width: $medium) {
        padding-bottom: 0px;
        min-height: auto;
        margin-bottom: 24px;
      }

      .socialBoxes {
        padding: 0;
        display: flex;
        gap: 8px;

        li {
          list-style: none;

          a {
            @include flex();
            width: 32px;
            height: 32px;
            background-color: $Cblue;
            border: 1px solid $Cprimary;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }

    .copy {
      color: $Cmisc;
      font-size: 16px;
      text-align: start;

      @media (max-width: $medium) {
        position: absolute;
        bottom: 48px;
      }
    }
  }
}