@import 'variables';
@import 'mixins';

.footer {
  background-color: $Cfooter;
  border: 1px solid $Cprimary;

  footer {
    @include primaryFont(16px, 400, 24px);
    @include flex(space-between, flex-start);
    margin: auto;
    width: 1120px;
    height: 348px;
    color: $Cprimary;
    margin: 64px auto 0;

    h3 {
      @include primaryFont(20px, 700, 24px);
    }

    article {
      max-width: 544px;
      padding: 15px 0 0;

      p {
        margin: 32px 0 46px;
      }

      description {
        color: $Cmisc;
      }
    }

    .contacts {
      @include flex(space-between, flex-start, column);
      min-height: 100%;
      padding-bottom: 85px;

      .socialBoxes {
        padding: 0;
        display: flex;
        gap: 8px;

        li {
          list-style: none;

          a {
            @include flex();
            width: 32px;
            height: 32px;
            background-color: $Cblue;
            border: 1px solid $Cprimary;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
    }
  }
}