@import 'z_variables';
@import 'z_mixins';

.header {
  border: 1px solid $Cprimary;
  background-color: #fff;

  header {
    @include primaryFont();
    @include flex(space-between);
    @include screenW();
    min-height: 80px;
    margin: auto;
    padding: 0 32px;
  }
}