@import 'variables';
@import 'mixins';

.header {
  border: 1px solid $Cprimary;
  background-color: #fff;

  header {
    @include primaryFont();
    @include flex(space-between);
    min-height: 80px;
    max-width: 1120px;
    margin: auto;
  }
}