@import 'variables';
@import 'mixins';

.landing {
  min-width: 100%;
  background-color: $Clanding;
  border: 1px solid $Cprimary;
  // @include tertiaryFont();

  .landing_container {
    height: 925px;
    width: 1120px;
    margin: auto;
  }
}

.app {
  min-width: 100%;
  background-color: $Cextension;
  border: 1px solid $Cprimary;

  .app_container {
    height: 144px;
    width: 1120px;
    margin: auto;
  }
}