@import 'variables';
@import 'mixins';

.nav {
  ul {
    @include flex(space-between);
    user-select: none;
    list-style: none;

    li {
      a {
        margin-right: 36px;
        padding: 11px 16px 10px;
        color: $Cnav;

        &:hover {
          color: $Cblue;
        }
      }
    }
  }
}

.footerNav {
  ul {
    @include flex(space-between, flex-start, column);
    gap: 16px;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;

    li {
      a {
        color: $Cnav;

        &:hover {
          color: $Cblue;
        }
      }
    }
  }
}