@import 'z_variables';
@import 'z_mixins';

.nav {
  ul {
    @include flex(space-between);
    user-select: none;
    list-style: none;

    li {
      a {
        margin-right: 36px;
        padding: 11px 16px 10px;
        color: $Cnav;

        &:hover {
          color: $Cblue;
        }
      }
    }
  }
}

.footerNav {
  padding: 0 16px;

  @media (max-width: $medium) {
    padding: 16px 0;
  }

  ul {
    @include flex(space-between, flex-start, column);
    gap: 16px;
    margin: 0;
    padding: 0;
    user-select: none;
    list-style: none;
    white-space: nowrap;

    li {
      a {
        color: $Cnav;

        &:hover {
          color: $Cblue;
        }
      }
    }
  }
}