// Colors
$Cprimary: #1F343E;
$Cnav: #434A54;
$Cblue: #4EB3E3;
$Cmisc: #6D7A80;
// --BG
$Clanding: #F8CC5D;
$Cextension: #45565E;
$Cfooter: #F8F4F9;
// Breakpoints
$extraSmall: 480px; //max-width
$small: 481px; //min-width
$medium: 768px; //min-width
$big: 1024px; //min-width
$extraBig: 1200px; //min-width